%h1 Listing games

%table
  %thead
    %tr
      %th Name
      %th Author
      %th Category
      %th Location
      %th Min players
      %th Max players
      %th Min playtime
      %th Max playtime
      %th Rating
      %th Times played
      %th Last played

  %tbody
    - @games.each do |game|
      %tr
        %td= link_to game.name, game
        %td= game.author
        %td= game.category
        %td= game.location
        %td= game.min_players
        %td= game.max_players
        %td= game.min_playtime
        %td= game.max_playtime
        %td= game.rating
        %td= game.times_played
        %td= game.last_played

%br

= link_to 'New Game', new_game_path
